* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	padding-bottom: 10PX;
	padding-top: 10PX;
}

body{
	background-color: darkgray;
	color: black;
	align-items: center;
	width: 100%; 
	margin: 0;
	padding: 0;
	justify-content: center;
}

audio::-webkit-media-controls-panel {
                background-color: gray;
}

.cover{
	display: flex;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-direction: column;
}
.title{
	font-size: 20px;
	padding-bottom: 5px;
}

.musict{
	font-size: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.site {
	align-items: center;
	justify-content: center;
	width: 100%;
}
